
body{
  background-color: #00ffff;
  text-align: center;
}
h1{
color: #0000ffaa;
text-align: center;
background-color: #808080;


}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family:sans-serif;
}
ul {
  line-height: 40px;

}
