
body{
  background-color: #00ffff;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
}

h1{
color: #0000ffaa;
text-align: center;
background-color: #808080;
height: 50px;
width: 1045px;

}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family:sans-serif;
  border-style:solid;
}
ol {
  line-height: 20px;
  padding-left: 50px

}
ul{
  line-height: 20px;
  padding-left: 50px;
}
